section.experience > .api {
  max-width: inherit;
  margin-bottom: 10px;
}
section.experience .api ul{
  width: 100%;
}
section.experience .api ul li{
  width: 100%;
}
.api__header{display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    overflow: auto;;}

.api__header div{  letter-spacing: 1pt, letter-spacing: 1.1pt;margin-left: 5px;border-left: 1px solid #ccccccb0; color: #fff;}
